# Import libraries

In [1]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
from keras.layers.convolutional import Conv2D # to add convolutional layers
from keras.layers.convolutional import MaxPooling2D # to add pooling layers
from keras.layers import Flatten # to flatten data for fully connected layers
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd

C:\Users\Hamad\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Build the neural network

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

In [2]:
def NN():
    
    model = Sequential()
    
    model.add(Dense(units = 10, activation = 'relu'))
    model.add(Dense(units = 1, activation = 'linear'))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    
    return model

# Read the data

In [3]:
df = pd.read_csv("concrete_data.csv")
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

# Split the data into X and Y

In [4]:
X = df.drop('Strength', axis = 1)
y = df['Strength']

print(X.shape)
print(y.shape)

(1030, 8)
(1030,)

# 1. Split the data into training and testing

- Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

In [5]:
def data_split(X, y):
    return train_test_split(X, y, test_size=0.3)

X_train, X_test, y_train, y_test = data_split(X, y)

# 2. Train the model

- Train the model on the training data using 50 epochs.

In [6]:
def model_training(X_train, y_train, verbose = 0):
    model = NN()
    model.fit(X_train, y_train, epochs = 50, verbose = verbose)
    return model

model = model_training(X_train, y_train, 1)

Epoch 1/50
23/23 [==============================] - 0s 2ms/step - loss: 7948.9863
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 1794.4385
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 1156.6688
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 836.6908
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 659.3457
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 527.1360
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 436.7192
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 378.2495
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 320.0051
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 284.8976
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 261.1912
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 244.8038
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 227.6412
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 221.3386
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 212.1317
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 206.1946
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 197.3639
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 192.9957
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 187.7514
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 187.0811
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 180.4564
Epoch 22/50
23/23 [==============================] - 0s 933us/step - loss: 175.9687
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 171.7432
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 168.4202
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 167.3827
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 161.7611
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 159.8393
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 156.6040
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 156.4040
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 156.4756
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 152.3113
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 147.8286
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 146.0126
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 144.7069
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 145.6903
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 145.3098
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 140.5325
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 138.2993
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 136.2692
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 136.3429
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 135.4729
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 133.0446
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 131.1134
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 130.3318
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 131.5895
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 127.2487
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 129.1601
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 126.4177
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 124.8108
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 123.8965

# 3. Evaluate the model

- Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [7]:
def prediction(model, X_test, y_test):
    y_pred = model.predict(X_test)
    return mean_squared_error(y_test, y_pred)

print(f'MSE : {prediction(model, X_test, y_test)}')

10/10 [==============================] - 0s 2ms/step
MSE : 110.67196040199894

# 4. Repeat steps 1 to 3

- Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [8]:
MSE_lst = []

for i in range (50):
    X_train, X_test, y_train, y_test = data_split(X, y)
    print(f'Model {i+1} :-')
    model = model_training(X_train, y_train)
    mse = prediction(model, X_test, y_test)
    MSE_lst.append(mse)

Model 1 :-
10/10 [==============================] - 0s 1ms/step
Model 2 :-
10/10 [==============================] - 0s 1ms/step
Model 3 :-
10/10 [==============================] - 0s 850us/step
Model 4 :-
10/10 [==============================] - 0s 2ms/step
Model 5 :-
10/10 [==============================] - 0s 780us/step
Model 6 :-
10/10 [==============================] - 0s 2ms/step
Model 7 :-
10/10 [==============================] - 0s 876us/step
Model 8 :-
10/10 [==============================] - 0s 1ms/step
Model 9 :-
10/10 [==============================] - 0s 890us/step
Model 10 :-
10/10 [==============================] - 0s 0s/step
Model 11 :-
10/10 [==============================] - 0s 2ms/step
Model 12 :-
10/10 [==============================] - 0s 0s/step
Model 13 :-
10/10 [==============================] - 0s 0s/step
Model 14 :-
10/10 [==============================] - 0s 768us/step
Model 15 :-
10/10 [==============================] - 0s 1ms/step
Model 16 :-
10/10 [==============================] - 0s 927us/step
Model 17 :-
10/10 [==============================] - 0s 880us/step
Model 18 :-
10/10 [==============================] - 0s 1ms/step
Model 19 :-
10/10 [==============================] - 0s 768us/step
Model 20 :-
10/10 [==============================] - 0s 2ms/step
Model 21 :-
10/10 [==============================] - 0s 0s/step
Model 22 :-
10/10 [==============================] - 0s 2ms/step
Model 23 :-
10/10 [==============================] - 0s 2ms/step
Model 24 :-
10/10 [==============================] - 0s 1000us/step
Model 25 :-
10/10 [==============================] - 0s 1ms/step
Model 26 :-
10/10 [==============================] - 0s 898us/step
Model 27 :-
10/10 [==============================] - 0s 0s/step
Model 28 :-
10/10 [==============================] - 0s 2ms/step
Model 29 :-
10/10 [==============================] - 0s 2ms/step
Model 30 :-
10/10 [==============================] - 0s 2ms/step
Model 31 :-
10/10 [==============================] - 0s 2ms/step
Model 32 :-
10/10 [==============================] - 0s 0s/step
Model 33 :-
10/10 [==============================] - 0s 1ms/step
Model 34 :-
10/10 [==============================] - 0s 901us/step
Model 35 :-
10/10 [==============================] - 0s 890us/step
Model 36 :-
10/10 [==============================] - 0s 2ms/step
Model 37 :-
10/10 [==============================] - 0s 898us/step
Model 38 :-
10/10 [==============================] - 0s 1ms/step
Model 39 :-
10/10 [==============================] - 0s 1ms/step
Model 40 :-
10/10 [==============================] - 0s 2ms/step
Model 41 :-
10/10 [==============================] - 0s 1ms/step
Model 42 :-
10/10 [==============================] - 0s 672us/step
Model 43 :-
10/10 [==============================] - 0s 1ms/step
Model 44 :-
10/10 [==============================] - 0s 2ms/step
Model 45 :-
10/10 [==============================] - 0s 1ms/step
Model 46 :-
10/10 [==============================] - 0s 2ms/step
Model 47 :-
10/10 [==============================] - 0s 2ms/step
Model 48 :-
10/10 [==============================] - 0s 2ms/step
Model 49 :-
10/10 [==============================] - 0s 889us/step
Model 50 :-
10/10 [==============================] - 0s 2ms/step

# Report for MSE

In [9]:
dic = {
    'MSE' : []
}

models = []

for i in range(len(MSE_lst)):
    models.append(i+1)
    dic['MSE'].append(MSE_lst[i])
    
report = pd.DataFrame(dic)
report.index = models
report

            MSE
1    134.245368
2     97.741375
3   1099.931390
4    180.737640
5    141.687212
6    170.816099
7   1953.317591
8   1625.664899
9    103.403837
10   250.493777
11   270.081798
12   307.568831
13    94.063314
14   314.640171
15    91.486607
16   235.750129
17   476.467308
18   183.831878
19  1124.941676
20   270.062813
21   118.287254
22   176.381723
23   102.609712
24   126.272706
25   185.423687
26   242.588742
27   197.579333
28   264.015912
29   193.274801
30   443.253791
31   169.823821
32   172.411167
33   395.523747
34   115.922233
35   506.634370
36   101.893304
37   493.249838
38   112.245312
39   180.305587
40  1351.776719
41   143.825782
42  1619.654388
43   641.281695
44   210.198809
45   272.226590
46   215.105782
47   103.573250
48    87.791343
49   107.649264
50   153.063402

# Report the mean and the standard deviation of the mean squared errors.

In [10]:
print(f"Average of MSE         : {np.mean(MSE_lst)}")
print(f"Standard Deviation MSE : {np.std(MSE_lst)}")

Average of MSEs         : 366.615555533452
Standard Deviation MSEs : 434.9956003577844